@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway');
header{
    border-top:10px solid #2ecc71;
    background:url(../images/background.png) no-repeat;
    background-size:cover;
    overflow:hidden;
}
.main{
    color:#fff;
    margin:140px auto;
}
.main h1{
    font-family: 'Pacifico';
}
.main p{
    padding-top:25px;
}
.main i{
    border-radius:50%;
    padding:13px;
    background-color: #362219;
    opacity:0.5;
    margin:4px
}
.main i:hover{
    background-color:#2ecc71;
    cursor:pointer;
    color:#fff;
    transition: all linear 0.5s;
    opacity:1
}
.features{
    text-align:center;
    margin-top:50px;
}
.title{
    color:#222222;
    margin:20px auto;
 }
.desk{
    color:#bdbdbd;
    line-height: 1.4;
    font-size: 14px;
}
.features i{
    padding:20px;
    background:#2ecc71;
    color:#fff;
    border-radius:50%;
    font-size:30px;
}
.get-notify{
    margin-top:50px;
    background-color:#e3e3e3;
    overflow:hidden;
}
.notified{
    padding:50px 0px;
}
.notified p {
    color:#848484;
    font-size:14px;
}
video{
    width:400px;
    height:284px;
    margin-top:-5px;
}
.send-email{
    margin-top:30px;
    padding-left:0px;
}
.send-email input{
    border-radius:10px 0px 0px 10px;
    color:#848484;
    font-size:12px;
    padding-left:20px;
}
.send-email button{
    border-radius:0px 10px 10px 0px;
}
.testimonials {
    margin:50px auto;
    text-align: center;
}
.testimonials-text {
    color:#848484;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}
#slik{
    overflow:hidden;
    height:50px;
    margin-bottom: 40px;
}
.images{
    margin:3px 2px;
    float:left;
    width:50px;
    height:45px;
    position:relative;
}
.images:before{
    content:"";
    width:50px;
    height:45px;
    background:none;
    top:0px;
    left:0px;
    position:absolute;
}
.images:hover:before{
    background-color:rgba(109, 176, 105, 0.5);
}
.testimonials i {
    background-color: #d4d4d4;
    border-radius:50%;
    padding:8px;
    margin:2px;
    color:#fff;
    font-weight:bold;
}
.correction{
    padding:8px 11px !important;
}
.fa-google-plus{
    padding:8px 5px !important;
}
.testimonials i:hover{
    background-color:#62d995;
    cursor:pointer;
    color:#fff;
    transition: all 0.3s linear;
}
footer{
    background-color:#e3e3e3 ;
    overflow:hidden;
    width:100%;
}
.footer-links{
    padding:0px;
    color:#919191;
    font-size:12px;
    text-align: center;
}
footer .row{
    margin:25px auto;
    padding:0px;
}
@media screen and (max-width:992px)and (min-width:768px){
    video{
        width:350px;
        height:260px;
        margin-top:5px;
        margin-left:-50px;
    }
    .get-notify h4{
        font-size:20px;
    }
}
@media screen and (max-width:457px) and (min-width:372px){
    video{
        width: 325px;
        height: 252px;
    }
    .get-notify h4{
        font-size:19px;
    }
}
@media screen and (max-width:371px){
    video{
        width: 268px;
        height: 217px;
    }
    .get-notify h4{
        font-size:18px;
    }
}



